@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #03001e;
}

.bg-home-gradient {
  background: linear-gradient(180deg, #187aff -1.06%, #b362ff 75.18%);
  filter: blur(300px);
  -webkit-filter: blur(300px);
}
